@import "./_mixins.scss";
@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
}

header {
  @include centerContent(column);
  color: $white;
  background-color: $black;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: sticky;
  top: 0;
}

.page-description {
  @include centerContent(column);
  text-align: center;
  margin-bottom: 0px;
}

input[type="search"]:focus::placeholder {
  color: transparent;
}

.row {
  margin: 20px 0px;
}

.horizontal-list {
  @include horizontalList(15px);
}

.game-card {
  @include centerContent(column);
  border: 1px solid $black;
  p {
    max-width: 300px;
  }
}

.game-thumbnail {
  width: 50%;
}

.ad {
  @include centerContent(column);
  border: $black solid 2px;
  height: 80vh;
  width: 10%;
  position: fixed;
  top: 17%;
}

#right-ad {
  right: 0;
}

#left-ad {
  left: 0;
}
