@import "./_mixins.scss";
@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@400;700&display=swap");

/* Sites for font reasoning: 
https://www.marketing-partners.com/conversations2/vision-changes-typography-for-aging-audiences#:~:text=A%20few%20typefaces%20that%20meet,the%20web%2C%20for%20good%20reason.
https://www.fontpair.co/pairings/eb-garamond-montserrat
*/

html,
body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  background-color: $white;
  max-width: 100%;
}

h1,
h2,
h3,
button {
  font-family: "EB Garamond", serif;
  transition: 0.7s;
}

h2 {
  color: $gold;
  font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
}

.row {
  margin: 20px 0px;
}

header {
  @include centerContent(row);
  justify-content: space-between;
  color: $white;
  background-color: $black;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  top: 0;
  font-family: "EB Garamond", serif;
  z-index: 3;
  padding: 20px 0px;
  transition: 0.7s;
  div {
    @include centerContent(row);
    h1 {
      margin: 0px 0px 0px 30px;
    }
  }
}

#avatar {
  width: 64px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 20px;
}

.logo {
  width: 350px;
  border-radius: 60px;
  transition: 0.7s;
  margin-left: 20px;
}

.small-logo {
  width: 200px;
}

nav {
  ul {
    margin: 0px 20px 0px 0px;
    padding: 60px 0px;
    transition: 0.7s;
  }
  li {
    font-size: 38px;
    font-weight: bold;
    transition: 0.7s;
    color: $gold;
  }
}

.small-ul {
  font-size: 32px;
  padding: 15px 0px;
  li {
    font-size: 32px;
    font-weight: normal;
  }
}

.page-description {
  @include centerContent(column);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 175px !important;
  p {
    font-size: 22px;
  }
}

.hero {
  @include centerContent(row);
  background-image: url("../images/hero-img.jpg");
  background-blend-mode: soft-light;
  background-size: cover; // makes image cover the whole container
  background-repeat: no-repeat;
  background-position: center;
  background-color: #666;
  height: 100vh; // ensures hero image takes up the height of the device viewport
  margin: 0;
}

#hero-text {
  color: $white;
  padding: 30px;
  border-radius: 3%;
  h1 {
    font-size: 5em;
  }
  p {
    font-size: 1.5em;
    font-style: italic;
  }
}

.info-block {
  @include centerContent(column);
  font-size: 24px;
  margin: 50px 0px;
  p {
    max-width: 50%;
  }
}

input[type="search"] {
  &:focus::placeholder {
    color: transparent;
  }
}

.horizontal-list {
  @include horizontalList(15px);
}

.game-card {
  @include centerContent(column);
  border: 3px solid $black;
  border-radius: 15px;
  min-height: fit-content;
  justify-content: space-around;
  height: 500px;
  position: relative;
  h3 {
    text-decoration: underline;
    margin: 0;
  }
  p {
    margin: 0;
    text-align: center;
    max-width: 300px;
  }
  button {
    margin-top: 15px;
  }
  @include breakpoint(550px, 900px) {
    h3 {
      font-size: 2.5rem;
    }
  }
}

.locked {
  @include centerContent(column);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.8;
  border-radius: 15px;
  z-index: 2;
}

.game-thumbnail {
  width: 70%;
  height: 50%;
}

.ad {
  @include centerContent(column);
  border: $black solid 2px;
  height: 80%;
  width: 10%;
  position: fixed;
  top: 19.5%;
}

#ad1 {
  right: 0;
  @include breakpoint(0px, 550px) {
    top: 25%;
    left: 0;
  }
}

#ad2 {
  left: 0;
  @include breakpoint(0px, 550px) {
    top: 25%;
    left: 0;
  }
}

#game-container {
  @include centerContent(column);
}

// #game-page {
//   @include centerContent(column);
// }

#chat-box {
  width: 80%;
  height: 200px;
}

#chat-box-container {
  @include centerContent(column);
}

#game-container {
  @include centerContent(column);
}

.video-placeholder {
  @include centerContent(column);
  background-color: lightgray;
  height: 400px;
}

#login-form {
  @include centerContent(column);
  // margin-top: 175px !important;
  input {
    width: 300px;
    height: 50px;
  }
}

button {
  @include centerContent(column);
  font-size: 22px;
  width: 300px;
  height: 60px;
  margin-top: 20px;
}
