@import "./_mixins.scss";
@import "./variables.scss";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  background-color: $white;
  min-height: 100vh;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "EB Garamond", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

header {
  @include centerContent(column);
  color: $white;
  background-color: $black;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  top: 0;
  font-family: "EB Garamond", serif;
}

nav {
  font-size: 24px;
}

.page-description {
  @include centerContent(column);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 150px !important;
  p {
    font-size: 22px;
  }
}

.hero {
  @include centerContent(row);
  background-image: url(/images/feelfarbig-magazine-0nCFpNXJsA0-unsplash.jpg);
  background-size: cover; // makes image cover the whole container
  background-repeat: no-repeat;
  background-position: center;
  background-color: #666;
  height: 100vh; // ensures hero image takes up the height of the device viewport
  margin: 0;
}

#hero-text {
  background-color: #a8a8a8;
  padding: 30px;
  border-radius: 3%;
}

.info-block {
  @include centerContent(column);
  font-size: 24px;
  margin: 50px 0px;
  p {
    max-width: 50%;
  }
}

input[type="search"]:focus::placeholder {
  color: transparent;
}

.row {
  margin: 20px 0px;
}

.horizontal-list {
  @include horizontalList(15px);
}

.game-card {
  @include centerContent(column);
  border: 3px solid $black;
  border-radius: 15px;
  min-height: fit-content;
  justify-content: space-around;
  height: 500px;
  h3 {
    text-decoration: underline;
    margin: 0;
  }
  p {
    max-width: 300px;
  }
  button {
    margin-top: 15px;
  }
  @include breakpoint(550px, 900px) {
    h3 {
      font-size: 2.5rem;
    }
  }
}

.game-thumbnail {
  width: 70%;
  height: 50%;
}

.ad {
  @include centerContent(column);
  border: $black solid 2px;
  height: 80vh;
  width: 10%;
  position: fixed;
  top: 19.5%;
}

#right-ad {
  right: 0;
}

#left-ad {
  left: 0;
}

// #game-page {
//   @include centerContent(column);
// }

#chat-box {
  width: 80%;
  height: 200px;
}

#chat-box-container {
  @include centerContent(column);
}

#game-container {
  @include centerContent(column);
}

.video-placeholder {
  @include centerContent(column);
  background-color: lightgray;
  height: 400px;
}
